.rowx {
  position: relative;
  padding-top: 30px;
  left: 50%;
  margin-left: -238px;
  width: 476px;
}

.absolute-example {
  position: absolute;
  display: block;
  left: 0;
  top: 0; 
}

.wh {
	width : 476px;
	height : 626px;	
}